body {
    /*background-color: #e9e6e6; */
    margin: 0;
    padding: 0;
    background-image: url('../images/pexels-scott-webb-3255761.jpg');
    background-size: cover;
    background-position: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #AEC6CF; /* Set the background color of the navbar */
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
    text-align: center; /* Display list items horizontally */
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #D3D3D3; /* Set the color of the navbar links */
    flex-direction: column;
  }
  
  nav ul li a:hover {
    background-color: #F4C2C2; /* Set the background color of the navbar links on hover */
  }

  h1 {
    color:#F4C2C2;
    padding: 20px;
  }

  #flex-container {
    display:flex;
    gap:200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
  }

  #indexLeft {
    background-color: #D3D3D3;
    border-radius: 10px;
    height: 5%;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 30%;
  }

  #indexImg1 {
    width: 400px;
    height: 400px;
  }
  
/* Coursework page styling */

#courses {
  border-radius: 10px;
  padding: 10px;
  background-color: #D3D3D3;
  flex-direction: row;
  justify-content: center;
  margin-left: 32%;
  margin-right: 32%;
}

#courses #title-list {
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
}

#courses #title-list li {
  margin-bottom: 10px; /* Add spacing between titles */
}

#courses #title-list strong {
  font-weight: bold; /* Make titles bold */
}

/* Style for the descriptions */
#courses .description-list {
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
}

#courses .description-list li::before {
  content: "•"; /* Add a dot before each description */
  margin-right: 5px; /* Add spacing between dot and text */
}
  
